.user-summary {
.info-summary {
  .info-users-summary {
  .card1 {
    background-color: #b624ff;
  }
  .card2 {
    background-color: #32963d;
  }
  .card3 {
    background-color: #03a5fc;
  }
  .card4 {
    background-color: #c41849;
  }
}
}
}