.profile {
width: 100%;
.content-profile{
    .profile-photo {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 1px solid #f5f6fa;
      padding: 12px;
      img {
        border-radius: 50%;
    }
  }
}

.profile-form-control {
    span.profile-data {
      margin: 0 1rem;
    }
    span.profile-data > * {
      border-top: 1px solid #ccc;
      padding: 5px 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  span.profile-photo {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  span.profile-photo {
    margin: auto;
  }
}
