

.AboutContainer {
    border-radius: 10px;
    background-image: url("../../../assets/homeSlider.gif");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: local;
    background-size: cover;
    width: 90%;
    height: 50vh;
    position: relative;
}
.AboutOverlay {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: 9;
    transition: background 0.2s;
    background: var(--color-overlay);
}
.AboutContainerTop {
    z-index: 10;
    border-radius: 0px 0px 100px 100px;
    width: 50%;
    height: 20%;
}
.carouselContent {
    z-index: 10;
    width: 50%;
    height: 80%;
}