input[type="password"] {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border-radius: 3px;
    outline: none;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a;
    }

    &:focus:invalid {
      border-bottom: 3px solid #ff7730;
    }
  }
  .showPass {
    position: absolute;
    color: var(--color-text);
    cursor: pointer;
    right: 20px;
    overflow: hidden;
  }